*{
    margin: 0%;
    padding: 0%;
}
.header{
    height: 100vh;
    
}
.logo{
    height: 58px;
    padding: 2px 10px;
}
.icon-bar{
    background:darkorange;
}
.nav-link{
    color: darkorange !important;
}
.big-text{
    font-size: 52px;
    color: darkorange;
}
.btn{
    background-color: darkorange !important;
    color: white;
}
